body{
	padding: 0;
	margin: 0;
}
main{
	display: grid;
	grid-template-areas: 
	"header"
	"aside"
	"section"
	"footer";
	grid-auto-columns: 1fr;
	background: #fff;
	color: white;
	height: 100%;
}
main > *{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-flow: row wrap;
	font-family: 'Roboto Condensed', sans-serif;
}
header{
	grid-area: header;
	flex-wrap: wrap;
	justify-content: space-around;
	background: url(../img/Landingcontenido-03.png) top no-repeat;
	background-size: 100% 90%;
	position: relative;
	z-index: 1;
}
section{
	grid-area: section;
}
/*responsive*/
/***********/
.logo{
	margin-top: 2%;
	background: url(../img/mesfixlogo.svg) center no-repeat;
	background-size: contain;
	height: 45px;
    width: 100%;
}
.banner_left{
	background: url(../img/CELULAR.png) center no-repeat;
	background-size: contain;
	height: 600px;
    width: 50%;
}
.banner_right{
	width: 30%;
	margin-bottom: 15%;
}

.section, .section1, .section3, .section4{
	padding: 2% 5% 5% 8%;
}

.section{
	color: #959595;
}

.section2{
	padding: 2% 0 5% 0;
	background: #0E406C;
	color: #E2EFF9;
}

.section3{
	color: #959595;
	display: flex;
	flex-wrap: wrap;
}

.section4{
	color: #959595;
	background: #ECEDEF;
}
.article_section2{
	padding: 0 5% 0 5%;
}
.subtitle_dark{
	color: #1877A9;
	padding: 0 5% 0 5%;
}

.graphics{
	display: flex;
	flex-wrap: no-wrap;
	justify-content: center;
	text-align: center;
	color: #E2EFF9;
	line-height: 1.5;
	padding: 0 5% 0 5%;

}

.ball0,.ball1,.ball2,.ball3,.ball4{
    border-radius: 50%;
    margin: 0 auto;
    box-sizing: initial;
    width: 120px;
    height: 120px;
    border: 4px solid #E2EFF9;
}

.ball0{
    border-bottom: 4px solid rgba(51, 189, 192, 0.31);
    border-right: 4px solid rgba(51, 189, 192, 0.31);
}

.ball1{
    border-right: 4px solid rgba(51, 189, 192, 0.31);
}

.ball2{
    border-top: 4px solid rgba(51, 189, 192, 0.31);
}

.ball3{
    border-top: 4px solid rgba(51, 189, 192, 0.31);
}

.ball4{
	border-bottom: 4px solid rgba(51, 189, 192, 0.31);
}

.note{
	padding: 4%;
	background: #1C8EC2;
	text-align: center;
	color: #AED9F5;
	font-style: italic;
	line-height: 1.5;
	font-size: 0.9em;
	border: 1px solid #E1EEF8;
	box-shadow:  -1px 1px 12px 2px rgba(196,190,196,1);
	border-radius: 5px;
	position:relative;
}

.mark1{
	position: absolute;
  	top: -23%;
  	left: 3%;
}

.mark2{
  	position: absolute;
  	top: 80%;
  	left: 90%;
}

.number{
	font-weight: bold;
	font-size: 2.5em;
}

a:hover { 
    background-color: #001132;
}

.logo_gadget{
display: flex;
justify-content: flex-end;
padding:10% 10% 0 0;
}

.foot{
	background:#19558A;
	color: #97BBE1;
	text-align: center;
	margin-top: 5%;
	padding: 2%;
}
.images{
	display: flex;
	flex-wrap: no-wrap;
	text-align: center;
	align-items: stretch;
}

footer{
	grid-area: footer;
	display: flex;
	justify-content: flex-end;
    align-items: center;
	background: #0E406C;
	height: 100%;
	padding-right: 5%;
}

.copy{
	font-size: 2em;
}

.year{
font-size: small;
color: #1A84B7;
}

aside{
	grid-area: aside;
	display: flex;
	flex-wrap: no-wrap;
	background: linear-gradient(#1A84B7, #0F4370);
	flex: 1 1 42%;
	margin-top: -30%;
	padding-top: 40%;
	padding-bottom: 10%; 
	height: auto;
} 

#gadget{
 text-align: center;
 line-height: 2.1;
}

a{
	text-decoration: none;
	color:#fff;
	padding: 3%;
	background: #0D3960;
	border-radius: 2%;
}


/**********/

@media(min-width: 1000px){
main{
	grid-template-areas: 
	"header header"
	"section aside"
	"footer footer";
	grid-template-columns: 58% 42%;
	grid-template-rows: 30% 60% 10%;
}

aside{
	margin-top: -30%;
} 
}

@media (max-width: 730px){
	header{
	display: flex;
	flex-direction: column;
	background: url(../img/Landingcontenido-03.png) top no-repeat;
	background-size: cover;
}
.images{
	flex-wrap: wrap;
		justify-content: center;
	text-align: center;
}
	.graphics{
	flex-wrap: wrap;
}
.logo{
	margin-bottom: 2%;
	height: 80px;
}
 .banner_right{
	width: 80%;
}
}
/**********/

